* {
	color: #f0f0f0;
	text-decoration:none;
	vertical-align:middle;
	font-weight:normal;
	background-size:scale;
	background-repeat: no-repeat;
	font-size:1.2em;
	padding: 0;
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-shadow: 0 0 3px #000000;
}
.newicon {
	filter: grayscale(40%);
  width: 64px;
	height:64px;
}
.topbar {
	position:absolute;
	top:0px;
	width:100%;
	z-index:10;
	background-blend-mode:darken; 
	 background-color:rgba(190,190,190,0.7); 
	opacity 0.5s ease-in-out, visibility 1s linear;
}
.wallpaper{
	position:absolute;
	top:0px;
	width:100%;
	height:100%;
	z-index:-10;
/*	background-color:black; */
}

.toggle {
	position:absolute;
	top:0px;
	right:0px;
	z-index:1000;
}

.bottom {
	position:absolute;
	bottom:0px;
	overflow:hidden;
	display:inline-block;
	text-align:center;
	width:100%;
	z-index:10;
	height:80px;
background-blend-mode:darken; 
	 background-color:rgba(90,90,90,0.9); 
	/*	background-color:rgba(150,150,150,0.7); */

}

.apps {
	margin-top:50px;
	overflow-y:scroll;
	width: 100%;
}

input {
	width:100%;
	border:0px;
	color: #e0e0e0;
	margin:0px;
	border-radius: 0px;
	padding-left:16px;
	background: rgba(24, 24, 24, 0.8);
}

body, html {
	height: 100%;
	margin:0px;
	padding:0px;
	border:32px;
	overflow-x:hidden;
	overflow-y:scroll;
	backface-visibility: hidden;
}

img {
	border:0px;
	margin:8px;
	filter: grayscale(10%);
}

.bottom-tile {
	display:inline-block;
	background:none;
	background-color:rgba (40,40,40,1);
}

.tile {
	color: #fff;
	text-align: left;
	word-wrap: break-word;
}

.wrapper {
  z-index: 1;
  perspective: 1000;
}

.tile {
  transform-style: preserve-3d;
}

.tile .front, .tile .back {
  position: absolute;
  height: 100%;
  backface-visibility: hidden;
}

.tile .back {
  transform: rotateY(180deg);
  background-repeat: no-repeat;
  background-position: center center;
}
